body{
    font-family: system-ui;
    background-color: black;
    color: white;
}
.wd-border {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    padding-top: 12px;
    margin: 0 16px;
}
.wd-fl{
    float: left;
}
.wd-fr{
    float: right;
}
.wd-end {
    clear: both;
}
.wd-ml {
    margin-left: 16px;
}